/*==================================== VARS ====================================*/
/*==================================== VARS ====================================*/

/*------------------------------ colors ------------------------------*/
$white: #fff;
$blue: #4985FF;
$gray: #F6F6F8;
$dark-gray: #999;
$light-gray: #E0E0E0;
$bg-gradient: linear-gradient(90deg, #504DC2 0%, #5F12D0 100%), #C4C4C4;